<h3 id="logged-in">{{username}} logged in 🚀</h3>
{{#each blogs}}
<ul class="dashboard-blogs">

    <li>
        <button class="dashboard-blogs" data-blogid={{id}}>
            <div class="dashboard-title">{{title}}</div>
            <div class="dashboard-date">{{datePosted}}</div>
        </button>
        <div class="update-blog-form">
            <div id="create-a-post">Edit a Post</div>

            <form class="blog-form">
                Title
                <br />
                <textarea class="updated-title" maxlength="500"></textarea>
                <br />
                Content
                <br />
                <textarea class="updated-content" maxlength="500"></textarea>
                <br />
                <button class="update-post" type="button" onclick="updateBlog({{id}})">Update</button>
                <button class="delete-post" type="button" onclick="deleteBlog({{id}})">Delete</button>
            </form>
        </div>
    </li>
</ul>
{{/each}}

<div id="new-blog-form">
    <div id="create-a-post">Create a Post</div>
    <form id="blog-form">
        Title
        <br />
        <textarea id="new-title" maxlength="500"></textarea>
        <br />
        Content
        <br />
        <textarea id="new-content" maxlength="500"></textarea>
        <br />
        <button id="create-post" type="submit">Create</button>
    </form>
</div>

<button id="new-post-btn" type="submit">+ New Post</button>



<script src="/js/dashboard.js"></script>